body {
	background: url("../img/body-fon.png") no-repeat;
	background-color: #0B2972;
	font-family: Arial;
}

#pagina {
	margin: 0 auto;
	width: 1090px;
}

#inicioSesion {
		height: 25px;        
}
	#inicioSesion a:link, #inicioSesion a:visited {
		color: #FFFFFF;
		float: right;
		margin-right: 30px;
		margin-top: 4px;
		font-size: 15px;
                text-decoration: none;
	}
	#inicioSesion a:hover {
            color: #EEB60C;
            text-decoration: underline;
	}
        span.bienvenido {
            color: #FFFFFF;
            float: right;
            position: absolute;
            right: 390px;
            top: 4px;
        }
#header {
	position: relative;
	float: right;
	height: 100px;
	width: 907px;
	background-color: #C20602;
	border-radius: 10px; 
}
	#header h1 {
		color: #FFFFFF;
		font-size: 28px;
		text-align: center;
		line-height: 36px;
                padding-top: 14px;
	}

#pagina div.clearFix {
	clear: both;
}
#logo{
		float: left;
		height: 240px;
		width: 183px;
		background: url("../img/menu-pri-fon.png") no-repeat 0 214px;
	}
		#logo div.logo {
			height: 226px;
			margin: 0 auto 0 auto;
			width: 119px;
		}
			#logo div.logo a {
                            display: block;
                            height: 226px;
                            width: 119px;
                            background: url("../img/logo-unicauca.png");
                            overflow: hidden;
                            text-indent: -9999px;
			}

#conSuperior {
	background: url("../img/con-superior-borde-sup.png") no-repeat scroll 0 0 #DFE8F4;
	float: right;
	margin-top: 10px;
	padding: 17px 26px 9px 33px;
	width: 848px;
	height: 104px;
	background-color: #DFE8F4;
}
	#menuPrincipal {
		position: absolute;
		height: 35px;
		margin-top: 29px;
	}
		#menuPrincipal li {
			display: inline-block;
		}
		#menuPrincipal li a {
			display: inline-block;
			text-decoration: none;
			background-color: #0B2972;
			border-radius: 6px;
			height: 35px;
			color: #FFFFFF;
			line-height: 34px;
			padding: 0 15px;
		}
		#menuPrincipal li a:hover {
			text-decoration: none;
			background-color: #4A66C4;
		}
		#menuPrincipal li.inicio {
			
		}
			#menuPrincipal li.inicio a:link, #menuPrincipal li.inicio a:visited {
				
			}
			#menuPrincipal li.inicio a:hover {
				
			}
		#menuPrincipal li.monografias {
			
		}
			#menuPrincipal li.monografias a:link, #menuPrincipal li.monografias a:visited {
				
			}
			#menuPrincipal li.monografias a:hover {
				
			}
		#menuPrincipal li.articulos {
			
		}
			#menuPrincipal li.articulos a:link, #menuPrincipal li.articulos a:visited {
				
			}
			#menuPrincipal li.articulos a:hover {
				
			}
		#menuPrincipal li.reportes {
			
		}
			#menuPrincipal li.reportes a:link, #menuPrincipal li.reportes a:visited {
				
			}
			#menuPrincipal li.reportes a:hover {
				
			}
                        
               	#access {
		width: 320px;
		margin: 0 auto;
		font-size: 18px;
		border: 1px solid #CAD2DD;
		background-color: #FFFFFF;
		border-radius: 10px;
		padding: 30px 0px 30px 40px;
	}
		#access form {
			width: 320px;
		}
			#access form fieldset {
				width: 320px;
				color: #5C5C5C;
			}
				#access form fieldset p.bienvenido {
					font-size: 24px;
					padding-bottom: 20px;
					color: #0B2972;
				}
				#access form fieldset div.form {
					height: 68px;
				}
				#access form fieldset div.login {
					height: 95px;
				}
				#access form fieldset div.login p {
					font-size: 17px;
					color: #5C5C5C; 
					padding-top: 3px;
				}
					#access form fieldset div.form label {
						display: block;
						padding-left: 8px;
						height: 24px;
					}
					#access form fieldset div.form input {
						height: 30px;
						width: 274px;
						border-radius: 5px;
						font-size: 17px;
						border: 1px solid #CDCDCD;
					}
					#access form fieldset div.form input:focus {
						border-radius: 5px;
						border: 1px solid #90B3EC;
					}
					#email {
						
					}
					#password {
						
					}
				#sendLogin {
					width: 84px;
					height: 35px;
					background-color: #770000;
					border: hidden;
					cursor: pointer;
					color: #FFFFFF;
					border-radius: 6px;
					font-size: 16px;
					margin-top: 10px;
					margin-left: 192px;
				}
				#sendLogin:hover {
					background-color: #CC0000;
				}
				form fieldset br {
					
				}
				form fieldset a:link, form fieldset a:visited {
					display: block;
					color: #5C5C5C;
					font-size: 16px;
					margin-top: 5px;
					margin-left: 116px;
				}
				form fieldset a:hover {
					color: #0B2972;
				}
	/**** estilos login (fin)****/

	#restablecer_contrasena {
		width: 510px;
		background-color: #FFFFFF;
		border: 1px solid #CDCDCD;
		border-radius: 10px;
		margin: 0 auto;		
	}
	#restablecer_contrasena form {
		width: 510px;
	}
	#restablecer_contrasena  p {
		font-size: 16px;
		color: #755C5C;
		padding: 18px;
		line-height: 18px;
	}
	#restablecer_contrasena form label {
		padding-left: 18px;
		padding-right: 10px;
                color: #755C5C;
	}
	#restablecer_contrasena form input {
		height: 30px;
		width: 317px;
		border-radius: 5px;
		font-size: 17px;
		border: 1px solid #CDCDCD;
	}
	#restablecer_contrasena form input:focus {
		border-radius: 5px;
		border: 2px solid #90B3EC;
	}
	#restablecer_contrasena #sendContrasena {
		width: 125px;
		height: 35px;
		background-color: #770000;
		border: hidden;
		cursor: pointer;
		color: #FFFFFF;
		border-radius: 6px;
		font-size: 16px;
		margin-top: 10px;
		margin-left: 192px;
		margin-bottom: 10px;
	}
	#restablecer_contrasena #sendContrasena:hover {
		background-color: #CC0000;
	}
#conInferior {
	position: relative;
	background-color: #DFE8F4;
	padding-bottom: 10px
}
#barra_busqueda {
    text-align: center;
    padding-bottom: 10px;
}
#barra_busqueda label {
    color: #0B2972;
    font-size: 20px;
}
#barra_busqueda #buscarProduccion, #formEstadistica #login {
    height: 30px;
    width: 370px;
    border-radius: 5px;
    font-size: 17px;
    border: 1px solid #CDCDCD;
    color: #B2B2B2;
    margin-left: 10px;
}
#formEstadistica  {
    margin-left: 25%;
    margin-top: 32px;
}
#formEstadistica #login {
    width: 200px;
}
#formEstadistica form label {
    color: #755C5C;
}
#barra_busqueda #buscarProduccion:focus, #formEstadistica #login:focus {
        border-radius: 5px;
        border: 1px solid #90B3EC;
        color: #000000;
}
#btnBuscar, #btnConsultar, input[type="submit"]{
    width: 84px;
    height: 35px;
    background-color: #770000;
    border: hidden;
    cursor: pointer;
    color: #FFFFFF;
    border-radius: 6px;
    font-size: 16px;
    margin-left: 10px;
}
#btnBuscar:hover, #btnConsultar:hover, input[type="submit"]:hover {
    background-color: #CC0000;
}
#conInferior #listarItems {
    width: 50%;
    margin: 15px auto 0;
}
#footer {
	height: 96px;
	width: 1090px;
	background: url("../img/footer-fon.png") no-repeat;  
}

/**** Estilos botones crud ****/
span.required {
    color: #CC0000;
    padding-left: 8px;
}

#form-button-save, #save-and-go-back-button, #cancel-button {
	background: #770000;
	color: #FFFFFF;
	border: none;
	text-shadow: 0 0px 0px rgba(255, 255, 255, 0.75);
}
#form-button-save {
    width: 160px;
    font-size: 15px;
    height: 38px;
}
#form-button-save:hover, #save-and-go-back-button:hover, #cancel-button:hover {
	background-color: #CC0000;
}
/**** estilos usuarios****/
#usuario {
    float: right;
    margin-right: 15px;
    width: 75%;
}

#usuario h2 {
    font-size: 38px;
    color: #0B2972;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}
#usuario table th {
  margin: 0;
  padding: 6px 0;
}

#usuario .flexigrid div.fbutton span.add {
  background: url("../img/add.png") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
  padding-left: 20px;
  font-size: 15px;
}

#usuario .flexigrid table thead tr.hDiv th div {
  border-left: 0 solid #FFFFFF;
  font-size: 13px;
  padding: 5px;
  text-align: center;
}

#usuario .flexigrid table tr.hDiv th {
    
}
#usuario .form-display-as-box {
  float: left;
  font-size: 16px;
  padding-top: 7px;
  width: 130px;
}

#usuario .flexigrid .ftitle-left {
    font-size: 15px;
}
#field-contrasena, #field-verify_password {
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	color: #444444;
	display: inline-block;
}
#field-contrasena:hover, #field-verify_password:hover {
	background: #FFFFFF;
	border: 1px solid #555555;
}

#field-contrasena:focus, #field-verify_password:focus {
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	outline: 0 none;
}

/**** estilos monografia ****/

#monografia, #articulo, #reporte, #editar {
    float: right;
    margin-right: 15px;
    width: 75%;
}

#monografia h2, #articulo h2, #reporte h2 {
    font-size: 38px;
    color: #0B2972;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}
#editar h2 {
    font-size: 20px;
    color: #0B2972;
    padding: 10px 0 10px 10px;
}
#monografia table th {
  margin: 0;
  padding: 6px 0;
}

#monografia .flexigrid div.fbutton span.add, #articulo .flexigrid div.fbutton span.add,
#reporte .flexigrid div.fbutton span.add  {
  background: url("../img/add.png") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
  padding-left: 20px;
  font-size: 15px;
}

#monografia .flexigrid table thead tr.hDiv th div {
  border-left: 0 solid #FFFFFF;
  font-size: 13px;
  padding: 5px;
  text-align: center;
}

#monografia .flexigrid table tr.hDiv th {
    /*width: 8%;*/
}

#monografia .flexigrid .ftitle-left, #articulo .flexigrid .ftitle-left, #reporte .flexigrid .ftitle-left  {
    font-size: 15px;
}

/**** estilos item busqueda****/
#itemBusqueda a, #contactarAutor a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: #0B2972;
}
#itemBusqueda a:hover, #contactarAutor a:hover {
    color: #4A66C4;
    text-decoration: underline;
}
#contactarAutor a {
    display: inline;
}
#itemBusqueda li.resumen a {
    background: url("../img/icono-descargarpdf.png") 0 5px no-repeat;
    padding-left: 40px;
    font-size: 15px;
    line-height: 46px;
    height: 40px;
}
#itemBusqueda #verDescripcion {
    float: right;
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: #0B2972;
}
#itemBusqueda #verDescripcion:hover {
    color: #4A66C4;
    text-decoration: underline;
}
#itemBusqueda {
    margin: 0 auto;
    border-bottom: 1px solid #000000;
    color: #333333;
    padding-top: 20px;
}
#itemBusqueda ul li span {
    color: #000000;
    padding-right: 5px;
}
#itemBusqueda ul li span.autores {
    padding-left: 20px;
    font-size: 16px;
}
#itemBusqueda ul li span.fechaPubli {
    padding-left: 60px;
}
#itemBusqueda ul li {
    font-size: 15px;
    line-height: 18px;
}

#itemBusqueda ul li.grupoInv {
    float: right;
}
#itemBusqueda ul li.resumen{
    padding-top: 5px;
}
#itemBusqueda ul li.detallado{
    display: none;
    padding-top: 8px;
}
#itemBusqueda ul  {
    padding-bottom: 5px;
}
center {
    padding: 10px;
    font-size: 17px;
}
center a {
    color: #0B2972;
}
center a:hover {
    color: #4A66C4;
}
#detallado h2 {
    color: #0B2972;
    font-size: 25px;
    text-align: center;
    padding: 20px 0 20px 10px;
}
#detallado ul li span {
    display: inline-block;
    color: #000000;
    font-size: 16px;
    padding-bottom: 0px;
    padding-top: 5px;
    padding-right: 5px;
}
#detallado ul li p {
    padding: 10px 0 11px 15px;
    font-size: 16px;
}
#detallado ul {
/*    width: 80%;
    margin: 0 auto;*/
    padding: 0 25px;
    color: #333333;
}

button.regresar {
    display: block;
    width: 100px;    
    background-color: #770000;
    border: medium hidden;
    border-radius: 6px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    height: 35px;
    margin: 0 auto;
}
button.regresar:hover {
    background-color: #CC0000;
}
#contactarAutor button.regresar {
    float: right;
    margin-top: -45px;
    margin-right: 130px;
}
#detallado #archivoAdjunto{
    text-decoration: none;
    font-size: 16px;
    color: #0B2972;
    padding-left: 20px;
    background: url('../img/icono-pdf.png') no-repeat;
}
#detallado #archivoAdjunto:hover {
    color: #4A66C4;
    text-decoration: underline;
}
#detallado #contactar{
    text-decoration: none;
    font-size: 16px;
    color: #0B2972;
    float: right;
    margin-right: 45px;
}
#detallado #contactar:hover {
    color: #4A66C4;
    text-decoration: underline;
}
#detallado_monografia, #detallado_articulo, #detallado_reporte {
    width: 80%;
}
center.visualizar{
    display: none;
    padding-top: 20px;
}
#monografia .flexigrid div.fbutton span.export, 
#articulo .flexigrid div.fbutton span.export,
#reporte .flexigrid div.fbutton span.export,
#usuario .flexigrid div.fbutton span.export {
  padding-bottom: 5px;
}
#monografia .flexigrid div.fbutton span.print,
#articulo .flexigrid div.fbutton span.print,
#reporte .flexigrid div.fbutton span.print,
#usuario .flexigrid div.fbutton span.print {
  padding-bottom: 5px;
}

#PROD_RESUMEN_display_as_box {
    padding-bottom: 7px;
}

#editar .flexigrid .ftitle-left {
    display: none;
}

#editar .flexigrid div.mDiv div.ftitle {
    padding: 13px;
}
#contactarAutor {
    width: 600px;
    margin: 0 auto;
    padding-top: 20px;
}
#contactarAutor form label {
		display: inline-block;
                width: 155px;
                color: #755C5C;
                vertical-align: top;
                padding-top: 6px;
	}
	#contactarAutor form input {
		height: 30px;
		width: 370px;
		border-radius: 5px;
		font-size: 17px;
		border: 1px solid #CDCDCD;
	}
	#contactarAutor form input:focus {
		border-radius: 5px;
		border: 1px solid #90B3EC;
	}
        #contactarAutor form textArea {
		height: 200px;
		width: 370px;
		border-radius: 5px;
		font-size: 17px;
		border: 1px solid #CDCDCD;
                font-family: Arial;
	}
	#contactarAutor form textArea:focus {
		border-radius: 5px;
		border: 1px solid #90B3EC;
	}
	#contactarAutor #sendContactar {
            display: block;
            width: 100px;
            height: 35px;
            background-color: #770000;
            border: hidden;
            cursor: pointer;
            color: #FFFFFF;
            border-radius: 6px;
            font-size: 16px;
            margin: 0 auto 10px;
	}
	#contactarAutor #sendContactar:hover {
            background-color: #CC0000;
	}
        #contactarAutor p {
            color: #755C5C;  
            padding-right: 15px;
        }
        #contactarAutor p span {
            color: #000000;            
        }
#menuDocente, #menuAdministrador, #menuJefe {
    float: left;
    margin-left: 30px;
    margin-top: -35px;
}
#linkDestacados {
    float: right;
    margin-left: 15px;
    margin-right: 30px;
    margin-top: -35px;
}
#menuDocente {
    
}
#menuDocente div.menuProducciones, #menuDocente div.menuEstadisticas, #linkDestacados,
#menuAdministrador, #menuJefe div.menuProducciones, #menuJefe div.menuEstadisticas {
    width: 215px;
    border-radius: 10px;
    background-color: #FFFFFF;
}
#menuDocente h3, #menuAdministrador h3, #linkDestacados h3, #menuJefe h3{
    color: #C20602;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
}
#menuDocente ul, #menuAdministrador ul, #linkDestacados ul, #menuJefe ul{
    display: block;
    width: 215px;
    height: 145px;
    border-radius: 10px;
    background-color: #FFFFFF;       
}
#linkDestacados ul {
    height: 325px;
}
#linkDestacados ul li a {
    text-align: center;
}
#menuDocente ul li {
    
}
#linkDestacados ul li.deptSistemas a , #linkDestacados ul li.grupoInves a {
    line-height: 19px;
    padding-bottom: 8px;
    padding-top: 8px;
}
#menuDocente li a, #menuAdministrador li a, #linkDestacados li a, #menuJefe li a {
    width: 80%;
    background-color: #0B2972;
    border-radius: 6px;
    color: #FFFFFF;
    display: inline-block;
    height: 35px;
    line-height: 34px;
    padding: 0 10px;
    text-decoration: none;
    margin-left: 12px;
    margin-top: 5px;
}
#menuDocente li a:hover, #menuAdministrador li a:hover, #linkDestacados li a:hover, #menuJefe li a:hover {
    text-decoration: none;
    background-color: #4A66C4;
}
#grafDocenteGrupo {
}
#grafDocenteGrupo img, #grafsJefe img{
    padding: 35px 0 35px 35px;
}